html {
    font-family: Georgia, serif
}
title {color:darkgrey;
    margin-left: 80px;}

body {background-color:black;
			font-family: Arial, sans-serif;
			color: white;
}
h1 {color:grey;
    font-family: Verdana, sans-serif;
    margin-left: 80px;}

div.maindiv {background-color:white;
					   color: black;
					   width: 600px;
					   padding: 20px;
					   border-radius: 25px;
						 margin: auto;	
}

p {margin-left: 100px;
   font-family: Arial, sans-serif;}

label {
    padding-right:20px;
}

p1 {
     padding-right:38px;
}

p2 {
    padding-right:4px;
}
